<!-- Rodapé da página -->

<footer>
    <p>Desenvolvido por Leonardo Rebouças Almeida, este projeto pessoal utiliza Python com BeautifulSoup, Requests e Django para realizar web scraping e coletar notícias da página Investing. O objetivo é exibir essas informações de maneira dinâmica, sem quaisquer fins financeiros ou comerciais. Todo o conteúdo exibido pertence à Investing e é utilizado apenas para fins educacionais e de demonstração de habilidades técnicas. <span>© 2024 Todos os direitos reservados.</span></p>
</footer>